<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height class="grey lighten-4">
        <v-layout justify-center align-center>
          <v-flex xs12 sm6 md4 lg3 text-xs-center>
            <h2>Sign in</h2>
            <v-form>
              <v-text-field
                v-model="user.username"
                label="Username"
                required
                :error-messages="usernameErrors"
                @change="$v.user.username.$touch()"
                @blur="$v.user.username.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="user.password"
                label="Password"
                required
                :error-messages="passwordErrors"
                @change="$v.user.password.$touch()"
                @blur="$v.user.password.$touch()"
                :type="'password'"
              ></v-text-field>
            </v-form>
              <v-btn class="sign-in-btn" large @click.native="onSubmit(user)">Sign in</v-btn>
              <v-btn large :to="'/auth/sign-up'">Sign up</v-btn>
            <div>
              <h3>or</h3>
              <v-btn large>Google</v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import { mapActions } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
import gql from 'graphql-tag'

export default {
  mixins: [validationMixin],
  validations: {
    user: {
      username: { required },
      password: { required, minLength: minLength(6) },
    }
  },
  data () {
    return {
      user: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions(['signIn']),
    async onSubmit (user) {
      this.$v.$touch()
      if (this.$v.user.$invalid) {
        return
      }
      try {
        const token = await this.signIn(user)
        localStorage.removeItem('apollo-token')
        localStorage.setItem('apollo-token', token)
        if (token) {
          this.$router.push('/ideas')
        }
      } catch (e) {
        console.log(e.message.replace('GraphQL error: ', ''))
      }
    }
  },
  computed: {
    usernameErrors () {
      const errors = []
      if (!this.$v.user.username.$dirty) return errors
      !this.$v.user.username.required && errors.push('Username is required.')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.user.password.$dirty) return errors
      !this.$v.user.password.minLength && errors.push('Password must be at least 6 characters long.')
      !this.$v.user.password.required && errors.push('Password is required.')
      return errors
    },
  },
}
</script>
<style scoped>
.theme--light .sign-in-btn.v-btn {
    width: 71%;
    position: relative;
    border-radius: 30px;
    background-color: #ffc107;
    color: black;
}
</style>
