<template>
    <v-app>
    <v-content>
      <v-container fluid fill-height class="grey lighten-4">
        <v-layout justify-center align-center>
          <v-flex xs12 sm6 md4 lg3 text-xs-center>
            <h2>Sign up</h2>
            <v-form>
              <v-text-field
                v-model="user.username"
                label="Username"
                :error-messages="usernameErrors"
                required
              ></v-text-field>
              <v-text-field
                v-model="user.firstName"
                label="First name"
                :error-messages="firstNameErrors"
                required
              ></v-text-field>
              <v-text-field
                v-model="user.lastName"
                label="Last name"
                :error-messages="lastNameErrors"
                required
              ></v-text-field>
              <v-text-field
                v-model="user.email"
                label="E-mail"
                :error-messages="emailErrors"
                required
              ></v-text-field>
              <v-text-field
                v-model="user.password"
                label="Password"
                :error-messages="passwordErrors"
                required
                :type="'password'"
              ></v-text-field>
              <v-text-field
                v-model="repeatPassword"
                label="Repeat password"
                :error-messages="passwordErrors"
                required
                :type="'password'"
              ></v-text-field>
            </v-form>
              <v-btn class="sign-up-btn" large @click="onSubmit()">Sign up</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import { mapActions } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, maxLength, email, minLength } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  validations: {
    user: {
      username: { required },
      firstName: { required },
      lastName: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
    },
    repeatPassword: { required, minLength: minLength(6) },
  },
  data () {
    return {
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: ''
      },
      repeatPassword: ''
    }
  },
  methods: {
    ...mapActions(['signUp']),
    async onSubmit () {
      this.$v.$touch()
      if (this.$v.user.$invalid) {
        return
      }
      const signedUp = await this.signUp(this.user)
      if (signedUp) {
        this.$router.push('/auth/sign-in')
      }
    }
  },
  computed: {
    usernameErrors () {
      const errors = []
      if (!this.$v.user.username.$dirty) return errors
      !this.$v.user.username.required && errors.push('Username is required.')
      return errors
    },
    firstNameErrors () {
      const errors = []
      if (!this.$v.user.firstName.$dirty) return errors
      !this.$v.user.firstName.required && errors.push('First name is required.')
      return errors
    },
    lastNameErrors () {
      const errors = []
      if (!this.$v.user.lastName.$dirty) return errors
      !this.$v.user.lastName.required && errors.push('Last name is required.')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.user.email.$dirty) return errors
      !this.$v.user.email.required && errors.push('Email is required.')
      !this.$v.user.email.email && errors.push('Email has to be valid.')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.user.password.$dirty) return errors
      this.user.password !== this.repeatPassword && errors.push('Passwords have to be same.')
      !this.$v.user.password.minLength && errors.push('Password must be at least 6 characters long.')
      !this.$v.user.password.required && errors.push('Password is required.')
      return errors
    },
  }
}
</script>
