<template>
  <div>
    <v-btn flat color="orange" icon @click="toggle()">
      <v-icon v-if="isBookmarked">bookmark</v-icon>
      <v-icon v-else>bookmark_border</v-icon>
    </v-btn>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  props: {
    idea: Object
  },
  computed: {
    ...mapState(['user']),
    isBookmarked() {
      return this.idea.bookmarkedBy.filter(user => {
        return this.user && user.id === this.user.id
      }).length > 0
    }
  },
  methods: {
    async toggle () {
      if (this.isBookmarked) {
        const { data } = await this.$apollo.mutate({
          mutation: gql`
            mutation($idea: ID!) {
              unbookmarkIdea(idea: $idea) {
                idea {
                  bookmarkedBy {
                    id
                  }
                }
              }
            }
          `,
          variables: {
            idea: this.idea.id
          }
        })
        this.idea.bookmarkedBy = data.unbookmarkIdea.idea.bookmarkedBy
      } else {
        const { data } = await this.$apollo.mutate({
          mutation: gql`
            mutation($idea: ID!) {
              bookmarkIdea(idea: $idea) {
                idea {
                  bookmarkedBy {
                    id
                  }
                }
              }
            }
          `,
          variables: {
            idea: this.idea.id
          }
        })
        this.idea.bookmarkedBy = data.bookmarkIdea.idea.bookmarkedBy
      }
    }
  }
}
</script>
