<template>
  <div>
    <v-list two-line>
          <template v-for="(item, index) in items">
            <v-list-tile
              :key="item.name"
              avatar
              @click=""
            >
              <v-list-tile-avatar>
                <img :src="item.avatar">
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title v-html="item.name"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.text"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
  </div>
</template>

<script>
export default {
  data () {
      return {
        items: [
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            name: 'Robert X',
            text: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
          },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
            name: 'Fancy Guy',
            text: "Wish I could come, but I'm out of town this weekend."
          },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
            name: 'Yii Dieij',
            text: "Do you have Paris recommendations? Have you ever been?"
          }
        ]
      }
    }
}
</script>
