<template>
  <v-flex>
    <h3>Members</h3>
    <p>Actual contributors of this project.</p>
    <contribute-button :idea="idea" v-if="true"/>
    <v-avatar v-for="contributor in contributors">
      <v-icon>account_circle</v-icon>
    </v-avatar>
    <div>
     {{ contributorsAmount }} contributors
    </div>
  </v-flex>
</template>
<script>

import { mapGetters } from 'vuex'
import ContributeButton from '@/components/ContributeButton.vue'

export default {
  components: {
    ContributeButton
  },

  props: {
    idea: {
      type: Object,
      required: true
    }
  },

  methods: {
    hasContributors () {
      return this.idea.hasOwnProperty('contributors')
    }
  },

  computed: {
    contributorsAmount () {
      return this.hasContributors()
        ? Object.keys(this.idea.contributors).length
        : 0
    },
    contributors () {
      return this.hasContributors()
        ? this.idea.contributors
        : {}
    },
  }
}
</script>
