<template>
  <v-flex v-if="!isContributor">
    <p>You can apply for a membership of this project.</p>
    <v-btn outline round color="green" @click="openDialog">Contribute</v-btn>

      <dialog-card
        :open="open"
        @agree="addContributor"
        @disagree="closeDialog"
        title="Do you want to contribute?"
        text="You will be notified about changes of this project.
          Please tell us how you can help for this project."
      />

  </v-flex>
</template>
<script>
import { mapActions } from 'vuex'
import DialogCard from '@/components/common/DialogCard.vue'
import { mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  components: {
    DialogCard
  },

  props: {
    idea: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      open: false,
      contributors: null
    }
  },
  computed: {
    ...mapState(['user']),
    isContributor() {
      return this.idea.contributors.filter(contributor => {
        return this.idea && this.user && contributor.id === this.user.id
      }).length > 0
    }
  },
  methods: {
    openDialog () {
      this.open = true
    },
    closeDialog () {
      this.open = false
    },
    async addContributor () {
      const { data } = await this.$apollo.mutate({
        mutation: gql`
          mutation contribute($idea: ID!) {
            contribute(idea: $idea) {
              idea {
                contributors {
                  id
                }
              }
            }
          }
        `,
        variables: {
          idea: this.idea.id
        }
      })
      this.idea.contributors = data.contribute.idea.contributors
      this.closeDialog()
    },
  }
}
</script>
