<template>
  <div>
    <h2>Featured ideas</h2>
    <v-container fluid class="horizontal-wrapper">
      <v-layout align-center>
        <div v-for="(i, key) of ideas" :key="key" class="small-card-wrapper">
          <idea-card
            :idea="idea(i, key)"
            :max-title-length="25"
            :max-description-length="130"
            :showLikeButton="true"
            :showBookmarkButton="true"
          />
        </div>
      </v-layout>
    </v-container>
    <nuxt-link :to="'/ideas'">
      <v-btn outline round color="indigo">Show all ideas</v-btn>
      </nuxt-link>
  </div>
</template>

<script>
import IdeaCard from '@/components/IdeaCard.vue'
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    IdeaCard
  },
  methods: {
    ...mapActions([
      'getIdeas'
    ])
  },
  computed: {
    ...mapState([
      'ideas'
    ]),
    idea () {
      return (idea, key) => ({ ...idea, id: key })
    }
  },
  mounted() {
    this.getIdeas()
  },
}
</script>

<style scoped>
.small-card-wrapper {
  display: inline;
  margin: 0 1em;
  min-width: 19rem;
}
.small-card-wrapper .v-card {
  width: 100%;
  min-height: 15rem;
}
.horizontal-wrapper {
  padding: 0;
  width: 100vw;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
</style>
