<template>
  <div>
    <v-icon v-for="n in 5" @click="rateIdea({ ideaId: id, rating: n})" :key="n">
      {{ rating >= n - 0.5 ? 'star' : 'star_border' }}
    </v-icon>
    <span>{{ Object.keys(idea.rating || {}).length }}</span>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: ['idea', 'id'],
  methods: {
    ...mapActions(['rateIdea']),
  },
  computed: {
    rating () {
      let keys = Object.keys(this.idea.rating || {})
      if (keys.length <= 0) {
        return 0
      }
      const sumOfRatings = keys.map((key) => {
        return this.idea.rating[key] || 0
      }).reduce((accumulator, value) => {
        return accumulator + value
      })
      return sumOfRatings / keys.length
    }
  }
}
</script>
