<template>
    <v-card :hover="true" :nuxt="true">
        <v-card-title primary-title @click="openDetail(idea.id)">
          <div class="card-tile">
            <h3 class="headline mb-0">
              {{ idea.name.substring(0, this.maxTitleLength) }}<template v-if="idea.name.length > this.maxTitleLength">...</template>
            </h3>
            <div>
              <p>
                {{ idea.description.substring(0, this.maxDescriptionLength) }}...
              </p>
            </div>
          </div>
        </v-card-title>
      <v-card-actions>
        <like-button v-if="showLikeButton" :idea="idea"/>
        <v-spacer/>
        <v-btn flat color="orange" icon><v-icon>share</v-icon></v-btn>
        <bookmark-button v-if="showBookmarkButton" :idea="idea"/>
      </v-card-actions>
    </v-card>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import LikeButton from '@/components/LikeButton'
import BookmarkButton from '@/components/BookmarkButton'

export default {
  components: {
    LikeButton,
    BookmarkButton
  },
  props: {
    idea: {
      id: String,
      name: String,
      description: String,
      categories: Array,
    },
    maxTitleLength: {
      type: Number,
      default: 50
    },
    maxDescriptionLength: {
      type: Number,
      default: 50
    },
    showLikeButton: {
      type: Boolean,
      default: false
    },
    showBookmarkButton: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    openDetail (id) {
      this.$router.push('/ideas/' + id)
    }
  }
}
</script>
<style>
  .v-card {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
  }
  i.v-icon.v-icon--link.material-icons:hover {
    transform: translateY(-1.5px);
  }
  .card-tile {
    height: 10rem;
    overflow: hidden;
    word-wrap:break-word;
  }
  .card-tile p, .card-tile h3 {
    white-space: pre-line;
  }
  .v-card__actions {
    height: 3.5rem;
    width: 100%;
  }
  .v-card__title {
    padding-top: 0;
    padding-bottom: 0;
  }
</style>
