<template>
  <v-container>
    <v-layout align-center>
      <v-flex xs12 md6>
        <form>
          <v-text-field
            v-model="idea.title"
            :error-messages="titleErrors"
            :counter="50"
            label="Title"
            required
            @input="$v.idea.title.$touch()"
            @blur="$v.idea.title.$touch()"
          ></v-text-field>
          <v-textarea
            v-model="idea.description"
            height="300"
            label="Description"
            hint="Describe your idea"
            :error-messages="descriptionErrors"
            :counter="true"
            required
            @change="$v.idea.description.$touch()"
            @blur="$v.idea.description.$touch()"
          ></v-textarea>
          <v-autocomplete
            v-model="idea.categories"
            :items="categories"
            chips
            item-text="name"
            item-value="name"
            :error-messages="categoriesErrors"
            label="Category"
            required
            @change="$v.idea.categories.$touch()"
            @blur="$v.idea.categories.$touch()"
            multiple
          >
          <template
              slot="selection"
              slot-scope="data"
            >
              <v-chip
                :selected="data.selected"
                close
                class="chip--select-multi"
                @input="data.parent.selectItem(data.item)"
              >
                {{ data.item.name }}
              </v-chip>
            </template>
          </v-autocomplete>
          <v-btn @click="submit">submit</v-btn>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email, minLength } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'

export default {
  mixins: [validationMixin],

  validations: {
    idea: {
      title: { required, maxLength: maxLength(50) },
      description: { required, minLength: minLength(80) },
      categories: { required }
    }
  },

  data: () => ({
    idea: {
      title: '',
      description: '',
      categories: [],
      likes: {
        amount: 0
      }
    },
    categories: [
      { name: 'Fintech' },
      { name: 'Agritech' },
      { name: 'Travel and Tourism' },
      { name: 'Food and Drink' },
      { name: 'Social' },
      { name: 'Sustainable' },
      { name: 'Manufacturing' },
      { name: 'eCommerce' },
      { name: 'Fashion' },
      { name: 'Tech' },
      { name: 'Medicine' },
      { name: 'Education' },
      { name: 'Energy' },
      { name: 'Media' },
      { name: 'Design' },
      { name: 'Internet of Things' },
      { name: 'Human Resources' },
      { name: 'Automotive' }
    ],
  }),
  computed: {
    categoriesErrors () {
      const errors = []
      if (!this.$v.idea.categories.$dirty) return errors
      !this.$v.idea.categories.required && errors.push('Category is required')
      return errors
    },
    titleErrors () {
      const errors = []
      if (!this.$v.idea.title.$dirty) return errors
      !this.$v.idea.title.maxLength && errors.push('Name must be at most 10 characters long')
      !this.$v.idea.title.required && errors.push('Name is required.')
      return errors
    },
    descriptionErrors () {
      const errors = []
      if (!this.$v.idea.description.$dirty) return errors
      !this.$v.idea.description.minLength && errors.push('Description must be at least 80 characters long')
      !this.$v.idea.description.required && errors.push('Idea description is required')
      return errors
    }
  },

  methods: {
    ...mapActions(['saveIdea']),
    submit () {
      this.$v.$touch()
      if (this.$v.idea.$invalid) {
        return
      }
      this.saveIdea(this.idea).then(() => {
        this.$router.push({path: '/ideas'})
      })
   },
  }
}
</script>
