<template>
  <div>
    <idea-card
      v-for="idea of ideas"
      :idea="idea"
      :key="idea.id"
      :max-title-length="maxTitleLength"
      :max-description-length="150"
      :showLikeButton="showLikeButton"
      :showBookmarkButton="showBookmarkButton"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import IdeaCard from '@/components/IdeaCard.vue'

export default {
  props: {
    ideas: {
      type: Array
    },
    showLikeButton: {
      type: Boolean,
      default: false
    },
    showBookmarkButton: {
      type: Boolean,
      default: false
    }
  },
  components: {
    IdeaCard
  },
  data: () => ({
    maxTitleLength: 20
  }),
  mounted () {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },
  beforeDestroy () {
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true })
    }
  },
  methods: {
    onResize () {
      this.maxTitleLength = window.innerWidth < 600
        ? 20
        : 40
    }
  },
  computed: {
    idea () {
      return (idea, key) => ({ ...idea, id: key })
    }
  }
}
</script>
