<template>
  <div class="like-button-wrapper" v-if="user">
    <lottie
      :options="defaultOptions"
      :isActive="this.isLikedByUser"
      :height="65" :width="65"
      @click.native="toggle()"
      ref="lottieRef"
    />
    <span>{{ idea.likesAmount }}</span>
  </div>
</template>
<script>
import Lottie from '@/components/Lottie.vue';
import * as animationData from '@/assets/thumb.json';
import { mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  components: {
    Lottie
  },
  props: {
    idea: Object
  },
  data() {
    return {
      defaultOptions: {
        animationData,
        autoplay: false,
        loop: false
      },
      animationSpeed: 1,
      animation: null,
    }
  },
  computed: {
    ...mapState(['user']),
    isLikedByUser() {
      return this.idea.likedBy.filter(likedBy => {
        return this.user && likedBy.id === this.user.id
      }).length > 0
    }
  },
  methods: {
    async toggle () {
      if (!this.isLikedByUser) {
        this.$refs.lottieRef.play()
        const { data } = await this.$apollo.mutate({
          mutation: gql`
            mutation($idea: ID!) {
              likeIdea(idea: $idea) {
                idea {
                  id,
                  likesAmount,
                  likedBy {
                    id
                  }
                }
              }
            }
          `,
          variables: {
            idea: parseInt(this.idea.id)
          }
        })
        this.idea.likesAmount = data.likeIdea.idea.likesAmount
        this.idea.likedBy = data.likeIdea.idea.likedBy
      } else {
        this.$refs.lottieRef.stop()
        const { data } = await this.$apollo.mutate({
          mutation: gql`
            mutation($idea: ID!) {
              dislikeIdea(idea: $idea) {
                idea {
                  id,
                  likesAmount,
                  likedBy {
                    id
                  }
                }
              }
            }
          `,
          variables: {
            idea: parseInt(this.idea.id)
          }
        })
        this.idea.likesAmount = data.dislikeIdea.idea.likesAmount
        this.idea.likedBy = data.dislikeIdea.idea.likedBy
      }
    }
  }
}
</script>
<style>
.like-button-wrapper {
  display: flex;
  align-items: center;
  transform: translate(-10px, 3px);
}
.like-button-wrapper div {
  cursor: pointer;
}
.like-button-wrapper span {
  color: #e91e63;
  transform: translateX(-10px);
}

</style>
