<template>
    <div :style="style" ref="lavContainer"></div>
</template>

<script>
import lottie from 'lottie-web';
import { mapMutations } from 'vuex'
export default {
  props: {
    options: {
      type: Object,
      required: true
    },
    height: Number,
    width: Number,
    isActive: Boolean
  },
  data () {
    return {
      style: {
        width: this.width ? `${this.width}px` : '100%',
        height: this.height ? `${this.height}px` : '100%',
        overflow: 'hidden',
        margin: '0 auto'
      },
      animation: null
    }
  },
  mounted () {
    this.animation = lottie.loadAnimation({
        container: this.$refs.lavContainer,
        renderer: 'svg',
        loop: !!this.options.loop,
        autoplay: !!this.options.autoplay,
        animationData: this.options.animationData,
        rendererSettings: this.options.rendererSettings,
        toValue: 1
      }
    )
    if (this.isActive) {
      this.animation.goToAndPlay(1000)
    }
  },
  methods: {
    ...mapMutations([
      'setLikeButtonAnimation'
    ]),
    play () {
      this.animation.play()
    },
    stop () {
      this.animation.stop()
    }
  }
}
</script>
