<template>
  <v-navigation-drawer
    v-model="drawerIsOpen"
    fixed
    clipped
    class="grey lighten-4"
    app
  >
    <v-list dense>
      <nuxt-link v-for="route of routes" :to="route.path" :key="route.path">
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>{{ route.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ route.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </nuxt-link>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  data () {
    return {
      routes: [
        { path: '/ideas', title: 'List ideas', icon: 'list' },
        { path: '/ideas/my-ideas', title: 'My ideas', icon: 'how_to_vote' },
        { path: '/ideas/contributions', title: 'Contributions', icon: 'supervised_user_circle' },
        { path: '/ideas/bookmarks', title: 'Bookmarks', icon: 'bookmarks' }
      ]
    }
  },
  computed: {
    drawerIsOpen: {
      set (isOpen) {
        this.$store.commit('toggleDrawer', isOpen)
      },
      get () {
        return this.$store.state.drawerIsOpen
      }
    }
  }
}
</script>
<style>
</style>
