<template>
  <v-toolbar color="amber" app fixed clipped-left>
    <v-toolbar-side-icon @click.native="toggleDrawer()"></v-toolbar-side-icon>
    <nuxt-link :to="'/'"><span class="title ml-3 mr-5">Ideas</span></nuxt-link>
    <v-spacer></v-spacer>
    <span v-if="user">{{ user.username }}</span>
    <v-menu offset-y>
      <v-btn icon slot="activator"><v-icon>person</v-icon></v-btn>
      <v-list v-if="user">
        <v-list-tile>
          <v-list-tile-title>Profile</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Settings</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="onClickLogout()">
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
      <v-list v-else>
        <v-list-tile :to="'/auth/sign-in'">
          <v-list-tile-title>Sign In</v-list-tile-title>
        </v-list-tile>
        <v-list-tile :to="'/auth/sign-up'">
          <v-list-tile-title>Sign Up</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <nuxt-link :to="'/ideas/create'">
      <v-btn
        v-if="user"
        color="pink"
        dark
        small
        absolute
        bottom
        right
        fab
      >
        <v-icon>add</v-icon>
      </v-btn>
    </nuxt-link>
  </v-toolbar>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions(['signOut']),
    toggleDrawer () {
      this.$store.commit('toggleDrawer', !this.$store.state.drawerIsOpen)
    },
    onClickLogout () {
      this.signOut()
        .then(() => {
          this.$router.replace('/')
        })
    }
  },
  computed: {
    ...mapState(['user'])
  }
}
</script>
<style>
.fade-enter-active {
  animation: fade-in .3s;
}
.fade-leave-active {
  animation: fade-in .2s reverse;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
</style>
