<template>
  <section>
    <h1 class="display-3">Start business together and build new future.</h1>
    <horizontal-idea-list />
  </section>
</template>

<script>
import HorizontalIdeaList from '@/components/HorizontalIdeaList.vue'

export default {
  components: {
    HorizontalIdeaList
  }
}
</script>
