<template>
  <v-app>
    <navigation-drawer/>
    <toolbar />
    <v-content>
      <v-container fluid fill-height class="grey lighten-4">
        <v-layout row justify-center>
          <v-progress-circular
            class="circular-loading"
            v-if="isLoading"
            :size="70"
            :width="7"
            color="purple"
            indeterminate
            ></v-progress-circular>
          <nuxt-child class="router-view" :class="{'full-opacity': !isLoading, 'dimm-opacity': isLoading}"/>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavigationDrawer from '@/components/NavigationDrawer.vue'
import Toolbar from '@/components/Toolbar.vue'
import { mapActions, mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  components: {
    NavigationDrawer,
    Toolbar
  },

  async mounted() {
    this.initializeApp()
  },

  computed: {
    ...mapState([
      'isLoading'
    ])
  },

  methods: {
    ...mapActions([
      'initializeApp'
    ])
  }
}
</script>

<style scoped>
.router-view {
  width: 100%;
}
.full-opacity {
  opacity: 1;
  transition: opacity .7s ease;
}
.dimm-opacity {
  opacity: 0.5;
  transition: opacity .7s ease;
}
.circular-loading {
  position: fixed;
  top: 50%;
}
</style>
