<template>
  <div>
    <h1>Bookmarks</h1>
    <ideas-list :ideas="ideas" :showBookmarkButton="true"/>
  </div>
</template>
<script>
import IdeasList from '@/components/IdeasList.vue'
import gql from 'graphql-tag'

export default {
  components: {
    IdeasList
  },
  data() {
    return {
      bookmarks: [],
      ideas: []
    }
  },
  async created () {
    const { data } = await this.$apollo.query({
      query: gql`
        query bookmarks {
          bookmarks {
            id,
            idea {
              id,
              name,
              description,
              likesAmount,
              likedBy {
                id
              },
              bookmarkedBy {
                id
              }
            }
          }
        }
      `
    })
    this.ideas = data.bookmarks.map(bookmark => bookmark.idea)
  }
}
</script>
