<template>
<v-dialog v-model="open" max-width="290">
  <v-card>
    <v-card-title class="headline">{{ title }}</v-card-title>

    <v-card-text>
      {{ text }}
    </v-card-text>
    <v-container>
      <v-form ref="form">
        <v-text-field
          required
          label="How can you help"
        ></v-text-field>
      </v-form>
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn
        color="green darken-1"
        flat="flat"
        @click="onDisagree"
      >
        Disagree
      </v-btn>

      <v-btn
        color="green darken-1"
        flat="flat"
        @click="onAgree"
      >
        Agree
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    open: {
      type: Boolean
    }
  },

  methods: {
    onAgree () {
      this.$emit('agree')
    },
    onDisagree () {
      this.$emit('disagree')
    }
  }
}
</script>

<style scoped>
.v-card {
  margin: 0
}
.v-dialog__content .v-dialog {
  border-radius: 13px
}

</style>
