<template>
  <div>
    <v-flex xs12 md6>
      <h1>{{ idea.name }}</h1>
      <v-card>
        <v-card-title>
          <div>
            <p>{{idea.description }}</p>
          </div>
        </v-card-title>
        <v-card-actions v-if="idea.id">
          <like-button :idea="idea" />
          <v-spacer/>
          <v-btn flat color="orange" icon><v-icon>share</v-icon></v-btn>
          <bookmark-button :idea="idea" />
        </v-card-actions>
      </v-card>
    </v-flex>
    <contributors-list :idea="idea"/>
    <comments />
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import LikeButton from '@/components/LikeButton.vue'
import BookmarkButton from '@/components/BookmarkButton.vue'
import ContributorsList from '@/components/ContributorsList.vue'
import Comments from '@/components/Comments.vue'
import gql from 'graphql-tag'

export default {
  components: {
    LikeButton,
    BookmarkButton,
    ContributorsList,
    Comments
  },
  data () {
    return {
      idea: {
        name: '',
        description: '',
        contributors: []
      }
    }
  },
  async mounted() {
    const { data } = await this.$apollo.query({
      query: gql`
        query ($id: Int) {
          idea(id: $id) {
            id,
            name,
            description,
            likesAmount,
            likedBy {
              id
            },
            bookmarkedBy {
              id
            },
            contributors {
              id
            }
          }
        }
      `,
      variables: {
        id: parseInt(this.$router.currentRoute.params.id)
      }
    })
    this.idea = data.idea
  }
}
</script>
