<template>
  <div style="width: 100%">
    <h1>Post your idea</h1>
    <idea-form/>
  </div>
</template>
<script>
import IdeaForm from '@/components/IdeaForm.vue'
export default {
  components: {
    IdeaForm
  }
}
</script>
