<template>
  <v-flex xs12 md6>
    <ideas-list :ideas="ideas" :showLikeButton="true" :showBookmarkButton="true" />
  </v-flex>
</template>

<script>
import NavigationDrawer from '@/components/NavigationDrawer.vue'
import Toolbar from '@/components/Toolbar.vue'
import IdeasList from '@/components/IdeasList.vue'
import { mapActions, mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  components: {
    NavigationDrawer,
    Toolbar,
    IdeasList
  },
  asyncData () {
    return {
      ideas: []
    }
  },
  async created() {
    const { data } = await this.$apollo.query({
        query: gql`
          query {
            ideas {
              id,
              name,
              description,
              likesAmount,
              likedBy {
                id
              },
              bookmarkedBy {
                id
              }
            }
          }
        `
      })
    this.ideas = data.ideas
  },
}
</script>
