<template>
  <div>
    <h1>Contributed ideas</h1>
    <ideas-list v-if="Object.keys(contributedIdeas).length > 0" :ideas="contributedIdeas"/>
  </div>
</template>
<script>
import IdeasList from '@/components/IdeasList.vue'
import { mapState } from 'vuex'

export default {
  components: {
    IdeasList
  },
  computed: {
    ...mapState([
      'contributedIdeas'
    ])
  }
}
</script>
