<template>
  <div>
    <ideas-list :ideas="ideas"/>
  </div>
</template>
<script>
import IdeasList from '@/components/IdeasList.vue'
import gql from 'graphql-tag'

export default {
  components: {
    IdeasList
  },
  data () {
    return {
      ideas: []
    }
  },
  async mounted() {
  const { data } = await this.$apollo.query({
      query: gql`
        query {
          ownIdeas {
            id,
            name,
            description,
            likesAmount,
            likedBy {
              id
            },
            bookmarkedBy {
              id
            }
          }
        }
      `
    })
    this.ideas = data.ownIdeas
  },
}
</script>
